@font-face {
	font-family: "Proxima Nova";
	src: url(#{$font-url}proximanova-regular-latin.woff) format("woff"),url(#{$font-url}proximanova-regular-latin.ttf) format("truetype");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: "Proxima Nova";
	src: url(#{$font-url}proximanova-semibold-latin.woff) format("woff"),url(#{$font-url}proximanova-semibold-latin.ttf) format("truetype");
	font-weight: bold;
	font-style: normal
}

@font-face {
	font-family: "Lato";
	src: url(#{$font-url}lato-thin-latin.woff) format("woff"),url(#{$font-url}lato-thin-latin.ttf) format("truetype");
	font-weight: 100;
	font-style: normal
}

@font-face {
	font-family: "Lato";
	src: url(#{$font-url}lato-light-latin.woff) format("woff"),url(#{$font-url}lato-light-latin.ttf) format("truetype");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: "Lato";
	src: url(#{$font-url}lato-light-italic-latin.woff) format("woff"),url(#{$font-url}lato-light-italic-latin.ttf) format("truetype");
	font-weight: normal;
	font-style: italic
}

body, h1, h2, h3, h4, h5, h6{
	font-family: "Lato";
}
